<!DOCTYPE html>
<html lang="bs">
<head>
    <%- include("./partials/head.ejs", {title}) %>
    <link rel="shortcut icon" href="/img/404shortcuticon.png" type="image/x-icon"> 
    <link rel="stylesheet" href="/css/404.css">
</head>
<body>
    <img src="/img/error-404.png" alt="Ne postojeća stranica ikona">
    <h2>Oprostite, ne možemo pronaći ovu stranicu</h2>
    <a href="/">Povratak na početnu</a>
</body>
</html>